@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.relative { position: relative; }

body {
  font-family: 'Poppins';
  background: #1b1b1b;
  color: #fff;  
}
body::-webkit-scrollbar {
  display: none;
}
/* Styles fullpage */

#fp-nav ul li a span {
  background: rgba(255,255,255, .5);
}

.fp-controlArrow.fp-next,
.fp-controlArrow.fp-prev {
  top: 95%;
}

.fp-controlArrow.fp-prev {
  left: 80%; 
}

/* Styles fullpage */

.header {
  display: grid; 
  place-items: center;  
}

.header h1 {
  font-size: 8vw;
}
.arrow {color: #fff}
.arrow_down {
  position: absolute;
  font-size: 50px;
  left: 50%;
  bottom: 2%;
  transform: translate(-50%, -50%);
  animation: arrow 1s ease infinite alternate;
}

@keyframes arrow {
  0% { 
    bottom: 2%;
  } 

  100% {
    bottom: .5%;
  }
}

.container_card { 
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding: 20px;
}

.card {
  border-radius: 15px; 
  background: rgba(255, 255, 255, .1); 
  padding: 20px 20px 0 20px;
  position: relative; 
  margin:  10px;
  width: 220px;
}

.card img { 
  height: 180px;
  border-radius: 10px; 
}

.card h2 {
  margin: 5px 0 10px 0;
  font-size: 15px;
  text-align: center;
}

.Alive, .Dead, .unknown {
  position: absolute;
  width: 8px;
  height: 8px; 
  top: 10px;
  right: 10px;
  border-radius: 9px;
}
.Alive {  background: rgba(94, 255, 94, .8); animation: alive 5s ease infinite;} 
.Dead { background: rgba(255, 94, 94, 0.8); animation: dead 5s ease infinite;}
.unknown { background: rgba(109, 109, 109, 0.8); animation: unknown 5s ease infinite;}

@keyframes alive {
  0% { 
    box-shadow: 0 0 0px 0px rgba(94, 255, 94, .4);
  } 

  100% {
    box-shadow: 0 0 0px 10px rgba(94, 255, 94, .0);
  }
}

@keyframes dead {
  0% { 
    box-shadow: 0 0 0px 0px rgba(255, 94, 94, 0.4);
  } 

  100% {
    box-shadow: 0 0 0px 10px rgba(255, 94, 94, 0);
  }
}

@keyframes unknown {
  0% { 
    box-shadow: 0 0 0px 0px rgba(109, 109, 109, 0.4);
  } 

  100% {
    box-shadow: 0 0 0px 10px rgba(109, 109, 109, 0);
  }
}

.buttons { 
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: calc((220px * 7) + (20px * 6));
  gap: 10px;
  margin: 0 auto;
  padding: 20px;
  
}

.last, .next { 
  background: rgba(255, 255, 255, .05); 
  color: #fff;
  font-family: 'Poppins';
  text-align: center;
  border-radius: 10px;
  font-size: 25px;
  font-weight: bold; 
  padding: 20px;
  text-decoration: none;
  cursor: pointer; 
}

.last:hover, .next:hover {
  background: rgba(255, 255, 255, .1); 
}
.center {display:grid; place-items: center;}
.github { 
  display: inline-block; 
  text-align: center;
}

.github img {
  width: calc(200px + 7vw);
}